node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.tgz
*.tar.gz

# Template files that should not be in the npm package
template/node_modules/
template/.expo/
template/ios/build/
template/ios/Pods/
template/android/build/
template/android/app/build/
template/.yarn/*
template/.pnp.*

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*